{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <p>¿Estás seguro que desea eliminar el perfil" {{ user.username }}"?</p>

                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar" class="btn btn-danger text-white">
                    <a href="{% url 'index' %}" class="btn btn-info text-black">Atrás</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}