{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2 col-xs-12">
                <form action="{% url 'filtrar_categoria' %}" method="GET" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mainheading">
                        <h3 class="posttitle">Buscar Receta por Categoría</h3>
                    </div>
                    <!-- Begin Post Content -->
                    <div class="article-post">
                        <div class="form-group" style="padding-left: 18px">
                            <label>Categorías: </label>
                                {% for cat in categorias %}
                                    <li style="list-style: none">
                                        <input type="radio" name="datos" value="{{ cat.nombre }}" {% if cat.nombre == categoria_seleccionada %}checked{% endif %}> {{ cat.nombre }}
                                    </li>
                                {% endfor %}
{#                            <input id="buscar_receta" name="datos" placeholder="Título Categoría">#}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white">Buscar</button>
                        <a class="btn btn-info text-black" href="{% url 'index' %}">Regresar</a>
                    </div>
                </form>

                {% if request.GET.datos %}
                    {% if recetas %}
                        <section class="featured-posts">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10">
                                        {% for receta in recetas %}
                                        <div class="section-title">
                                            <h2><span>Resultado de Búsqueda</span></h2>
                                        </div>
                                        <div class="card-columns listfeaturedtag">
                                            <!-- begin post -->

                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-md-6 wrapthumbnail">
                                                            <div class="thumbnail" style="background-image: url({{ receta.imagen.url }}); background-size: cover;"></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="card-block">
                                                                <h2 class="card-title">
                                                                    <a href="{% url 'details' receta.id %}">{{ receta.titulo }}</a>
                                                                </h2>
                                                                <h4 class="card-text">{{ receta.subtitulo }}</h4>
                                                                <div class="metafooter">
                                                                    <div class="wrapfooter">
                                                                        <span class="author-meta">
                                                                            <span class="post-name">Autor: {{ receta.autor.username }}</span><br/>
                                                                            <span class="post-date">{{ receta.created | date:"j F Y, P" }}</span>
                                                                        </span>
                                                                        <a href="{% url 'details' receta.id %}" title="Leer Más" style="margin-right: 20px">
                                                                            <h6>Leer Más</h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- end post -->
                                        </div>
                                    </div>
                                    <!-- End Post -->
                                </div>
                            </div>
                        </section>
                    {% else %}
                        <p>No se encontraron recetas con esa categoría.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}